* {
  --brown: #3E2A1F;
  --off-white: #F4CFA5;
  --orange: #FF691B;
  --yellow: #FDAA26;
  --green: #636B35;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  background-color: var(--brown);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  border-left: 6px solid var(--off-white);
  border-radius: none;
}

.jumbotron-fluid {
  text-align: center;
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: none;
  border: 10px solid var(--off-white);
  line-height: 2;
  padding: 10px;
  margin-bottom: 20px;
}

.display-4 {
  display: none;
}

header {
  font-family: 'Limelight', cursive;
}

.clearDayBtn {
  background-color: var(--orange);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: var(--off-white);
  display: flex;
  font-family: 'Carter One', cursive;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 400px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.clearDayBtn:focus {
  outline: 0;
}

.clearDayBtn:after {
  content: '';
  position: absolute;
  border: 1px solid var(--off-white);
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.clearDayBtn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .clearDayBtn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.container {
  border-left: 4px solid var(--off-white);
  border-right: 4px solid var(--off-white);
  border-top: 2px solid var(--off-white);
  border-bottom: 2px solid var(--off-white);
  border-radius: none;
}

.description{
  white-space: pre-wrap;
  border-radius: none;
}

.time-block{
  text-align: center;
  border-radius: none;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-left: 2px solid var(--off-white);
  border-right: 2px solid var(--off-white);
  border-top: 4px solid var(--off-white);
  border-bottom: 4px solid var(--off-white);
  border-radius: none;
}

.hour {
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: none;
}

.past {
  background-color: #FDAA26;
  color: black;
}

.present {
  background-color: #FF691B;
  color: black;
}

.future {
  background-color: #636B35;
  color: white;
}

.saveBtn {
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: 0;
  padding: 0;
  border-left: 6px solid var(--off-white);
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.deleteBtn {
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: 0;
  padding: 0;
  border-left: 6px solid var(--off-white);
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.saveBtn:hover {
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: 0;
}

.deleteBtn:hover {
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: 0;
}

.saveBtn i:hover {
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: 0;
  font-size: 32px;
  transition-timing-function: 1s ease-in-out;
}

.deleteBtn i:hover {
  background-color: var(--brown);
  color: var(--yellow);
  border-radius: 0;
  font-size: 32px;
  transition-timing-function: 1s ease-in-out;
}

@media (max-width: 768px) {
  .clearDayBtn {
    width: 75%;
  }
  body {
    font-size: 16px;
  }
  .jumbotron-fluid {
    margin-bottom: 33px;
  }
  .row {
    height: 170px;
  }
  .saveBtn i:hover {
    font-size: 24px;
  }
  .deleteBtn i:hover {
    font-size: 24px;
  }
  .display-3 {
    display: none;
  }
  .display-4 {
    display: block;
  }
  .lead {
    font-size: 16px;
  }
}